      <section id="get-in-touch">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to work with us?</h1>
                <p>Get in touch and let's start a conversation about how to improve your social good initiative.</p>
              </header>
              <a href="mailto:contact@iilab.org" class="btn btn-large">Get in touch</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>